/* the styling of the booking page (to be merged wit hthe main styling sheet */

/* label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
} */
.book{
  background-color: #f1faee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 10vh;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 150%;
  margin: auto;
  width: 40%;
  border: 3px solid #1d3557;
  padding: 10px;
}
.book input{
  font: Helvetica, sans-serif, Arial;
  width: 100%;
}
.book .last {
  font-size: 80%;
}

.book .button{
  color: #f1faee;
  background-color: #457b9d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}